.comment{
    width: 600px;
    height: 120px;
    border: solid 3px black;
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.title{
    padding-bottom: 8px;
    text-align: center;
}
.title2{
    padding-bottom: 5px;
    color: #686363;
}
.author{
    text-align: right;
    color: #676262;
}