@charset "UTF-8";

html, body{
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #013434;
    color: black;
    display: flex;
    flex-flow: column;
    align-items: center;

}
.componentall{
    background-color: white;
    width: 700px;
}