@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    display: flex;
    flex-flow: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}
.component{
    padding: 10px;
    margin: 20px;
    background-color: darkgray;
    border-radius: 5px;
}
h1{
    color: black;
    background-color: cadetblue;
    border-radius: 4px  10px;
    text-align: center;
    
}
h2{
    color: blue;
    font-size: 1.8em;
    background-color: cadetblue;
    border-radius: 4px  10px;
    text-align: center;
}
h3{
    color: green;
    font-size: 1.8em;
    background-color: cadetblue;
    border-radius: 4px  10px;
    text-align: center;
}
h4{
    color: yellow;
    font-size: 1.8em;
    background-color: cadetblue;
    border-radius: 4px  10px;
    text-align: center;
}
h5{
    color:red;
    font-size: 1.8em;
    background-color: cadetblue;
    border-radius: 4px  10px;
    text-align: center;
}
ul{
    list-style-type: none;
    color: black;
    padding-top: 10px;
}
p{
    padding-top:10px;
}
.list{
    margin-left: 20px;
    color: black;
    font-weight: 900;
}