*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #093d09;
}
h1{
    text-align: center;
    font-size: 2em;
    margin: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
}
h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2em;
    
}
.father{
    margin: 8px;
    background-color: darkgrey;
    padding: 50px;
    border-radius: 5px 8px;
    box-shadow: 2px 4px 5px 4px #00000075;

}
.children{
    background-color: gray;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;

}
p{
    padding: 4px;
    color: white;
    font-weight: normal;
}
