@charset "UTF-8";

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    background-color: darkslategray;
    color:black;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    text-align: center;
    padding-top: 10px;
    color: #140dd9;
}
.collection{
    background-color: white;
    width: 700px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 2px #00000096;
    
}
ul{
    list-style-type: none;
    padding: 10px;
    font-weight: bold;

}